<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DigitalRune.Editor.Game.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DigitalRune.Editor.Game.Properties.Settings>
            <setting name="OldColor" serializeAs="String">
                <value>#FF770000</value>
            </setting>
            <setting name="NewColor" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="ModelDocumentUsesDigitalRune" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsXnaEffectProcessorEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsMonoGameEffectProcessorEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsFxcEffectProcessorEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </DigitalRune.Editor.Game.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
