<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DigitalRune.Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DigitalRune.Editor.Properties.Settings>
            <setting name="WindowLeft" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="NumberOfRecentFiles" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value />
            </setting>
            <setting name="SyntaxHighlightingFolders" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>XSHD</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ActiveWindowLayout" serializeAs="String">
                <value>Default</value>
            </setting>
        </DigitalRune.Editor.Properties.Settings>
    </userSettings>
</configuration>