<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- 
        See https://github.com/nlog/nlog/wiki/Configuration-file 
        for information on customizing logging rules and outputs.
    -->

    <!-- TODO: Add logging to output window. -->
    <!--<extensions>
        <add assembly="DigitalRune.Editor"/>
    </extensions>-->

    <targets>
        <target xsi:type="Debugger" name="Debugger" layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
        <!--<target xsi:type="File" name="LogFile" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />-->
        <target xsi:type="NLogTarget" name="OutputWindow" layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="Debugger" />
        <!--<logger name="*" minlevel="Trace" writeTo="OutputWindow" />-->
    </rules>
</nlog>